[submodule "compressors/apultra"]
	path = compressors/apultra
	url = https://github.com/emmanuel-marty/apultra.git
	branch = master
[submodule "compressors/oapack"]
	path = compressors/oapack
	url = https://github.com/maxim-zhao/oapack.git
	branch = master
[submodule "compressors/lzsa"]
	path = compressors/lzsa
	url = https://github.com/emmanuel-marty/lzsa.git
	branch = master
[submodule "compressors/pucrunch"]
	path = compressors/pucrunch
	url = https://github.com/mist64/pucrunch.git
	branch = master
[submodule "compressors/ZX0"]
	path = compressors/ZX0
	url = https://github.com/einar-saukas/ZX0.git
	branch = main
[submodule "compressors/smallz4"]
	path = compressors/smallz4
	url = https://github.com/stbrumme/smallz4.git
	branch = master
