
.*/
Debug/
Release/
*.user
*.VC.*
/benchmark/*.sms
/benchmark/*.sym
benchmark/*.o
benchmark/*.sms
benchmark/data.*
benchmark/expected.bin
/benchmark/venv
/compressors/data.sonic2compr
*.pickle
