[submodule "compressors/apultra"]
	path = compressors/apultra
	url = https://github.com/emmanuel-marty/apultra.git
	branch = master
[submodule "compressors/oapack"]
	path = compressors/oapack
	url = https://github.com/maxim-zhao/oapack.git
	branch = master
[submodule "compressors/lzsa"]
	path = compressors/lzsa
	url = https://github.com/emmanuel-marty/lzsa.git
	branch = master
[submodule "compressors/pucrunch"]
	path = compressors/pucrunch
	url = https://github.com/mist64/pucrunch.git
	branch = master
[submodule "compressors/ZX0"]
	path = compressors/ZX0
	url = https://github.com/einar-saukas/ZX0.git
	branch = main
[submodule "compressors/smallz4"]
	path = compressors/smallz4
	url = https://github.com/stbrumme/smallz4.git
	branch = master
[submodule "compressors/shrinkler"]
	path = compressors/shrinkler
	url = https://github.com/askeksa/Shrinkler.git
	branch = master
[submodule "compressors/upkr/upkr"]
	path = compressors/upkr/upkr
	url = https://github.com/exoticorn/upkr.git
	branch = master
[submodule "compressors/rnc_propack_source"]
	path = compressors/rnc_propack_source
	url = https://github.com/lab313ru/rnc_propack_source.git
	branch = master
[submodule "compressors/stc0"]
	path = compressors/stc0
	url = https://github.com/sverx/stc0.git
	branch = master
[submodule "compressors/stc4"]
	path = compressors/stc4
	url = https://github.com/sverx/stc4.git
	branch = main
[submodule "compressors/exomizer"]
	path = compressors/exomizer
	url = https://bitbucket.org/magli143/exomizer.git
	branch = master
